p {
    color: #404040;
    margin-top: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel {
    background-color: lightgray;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
}

.panel-text {
    background-color: gray;
    padding: 14px;
    border-radius: 8px;
}